@page
@model WorkTracker.Pages.WorkItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Work items</h1>

<p>
    <a class="btn btn-secondary" asp-page="Create">+ New Work item</a>    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Title)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>            
            <td>
                @item.Created?.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority.PriorityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a>                
            </td>
        </tr>
}
    </tbody>
</table>
