@page "{id:int?}"
@model WorkTracker.Pages.WorkItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

@{var colour = ""; }

<h2>Work items for: @Model.ProjName</h2>
<div class="container row">
    <div class="col-md-7">
        <p>
            <a class="btn btn-secondary" asp-page="Create">+ New Work item</a>
        </p>
    </div>
    <div class="col-md-5">
        <form method="post">
            <select name="status">
                <option selected disabled>Select Status</option>
                <option value="tod">To Do</option>
                <option value="inp">In Progress</option>
                <option value="don">Done</option>
                <option value="all">All</option>
            </select>
            <input type="hidden" asp-for="ProjId" />
            <input type="submit" value="Filter" />            
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem[0].Project)
            </th>            
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.WorkItem)
        {

            if (item.Status.StatusId == "To Do") // "To Do" "In Progress" "Done"
                colour = "table-primary";
            else if (item.Status.StatusId == "In Progress")            
                colour = "table-warning";            
            else if (item.Status.StatusId == "Done")            
                colour = "table-success";            
            else            
                colour = "table-light";
            
            <tr class="@colour">
                <td>
                    <a class="btn btn-sm btn-info" asp-page="./Details" asp-route-id="@item.Id" asp-route-proj="@Model.ProjId">@item.Title</a>                    
                </td>
                <td>
                    @item.Created?.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority.PriorityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>                
            </tr>
        }
    </tbody>
</table>
